include AUTHORS.txt
include CHANGELOG.txt
include CONTRIBUTING.md
include LICENSE.txt
include MANIFEST.in
include README.txt
include tox.ini
include setup.py
include runtests.py
include requirements*.txt

recursive-include docs *
recursive-include tests *

prune docs/_build

recursive-exclude * __pycache__
recursive-exclude * *.py[co]
